@tailwind base;
@tailwind components;
@tailwind utilities;

  
  .container {
    width: 150px;
    height: 150px;
    display: flex;
    place-content: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
  }
  
  .item {
    width: 56%;
    overflow: visible;
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  